<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/uikit.min.css" />
        <script src="../static/js/uikit.min.js"></script>
        <script src="../static/js/uikit-icons.min.js"></script>
    </head>
    <body>
    <nav class="uk-navbar-container" uk-navbar style="background-color:rgb(255,255,255);">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="">Novagen.AI</a></li>
            </ul>
        </div>


        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a style="color:blue;" href="#">Upload</a></li>
                <li><a class="uk-active" href="#">Projects</a></li>
                <li><a href="#">Logout</a></li>
            </ul>

        </div>
    </nav>
    <div id="container" class="uk-grid" style="background-color:rgb(251, 251, 251);">
    </div>
    <script src="../static/js/jquery-3.3.1.js" ></script>
    <script>
        $(document).ready(function(){
            resizeDiv();
        });

        window.onresize = function(event) {
            resizeDiv();
        }

        function resizeDiv() {
            vpw = $(window).width();
            vph = $(window).height() - 100;
            $('#container').css({'height': vph + 'px'});
        }

    </script>
    </body>
</html>