<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/uikit.min.css"/>
    <link rel="stylesheet" href="../static/css/header.css"/>
    <script src="../static/js/uikit.min.js"></script>
    <script src="../static/js/uikit-icons.min.js"></script>
    <style>
        .lightText {
            color: rgb(188, 188, 188);
        }
    </style>
</head>
<body>
<nav class="uk-navbar-container uk-box-shadow-small" uk-navbar style="background-color:rgb(255,255,255);">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="">Novagen.AI</a></li>
        </ul>
    </div>


    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="#">Upload</a></li>
            <li><a class="uk-active" href="#">Projects</a></li>
            <li><a href="#">Logout</a></li>
        </ul>

    </div>
</nav>
<div id="container" class="uk-grid" style="text-align:center; background-color:rgb(251, 251, 251);">
    <div class="uk-width-1-1" style="margin-top:15%;">
        <p class="lightText" style="font-size:40px;">Upload data</p>
        <p class="lightText" style="font-weight: lighter; font-size:20px;">Upload biological targets for de novo drug
            design</p>
        <div class="js-upload" uk-form-custom>
            <form id='sendGenes'
                  method='post'
                  action="api/project/upload"
                  encType="multipart/form-data">
                <input type="file" id="genes" name="file" multiple>
                <div id="editor"></div>
            </form>
            <button class="uk-button uk-button-default uk-box-shadow-medium" type="button" tabindex="-1"
                    style="background-color:rgb(101, 207, 255); color:white; border-radius:10px;">Upload
            </button>
        </div>

    </div>
</div>
<script src="../static/js/jquery-3.3.1.js"></script>
<script>
    var fr;
    $(document).ready(function () {
        resizeDiv();
        $("#genes").on("change", function (e) {
//           $("#sendGenes").submit();
            var input = $('#genes')[0];
            var file = input.files[0];
            fr = new FileReader();
            fr.readAsDataURL(file);
            fr.onload = function (e) {
                console.log(fr.result);
                $("#container").html("<div uk-spinner style='margin-top: 40%; margin-left: 45%;'></div>");
                $.ajax({
                    method: "POST",
                    crossDomain: true,
                    processData: false,
                    headers: {
                        "Content-Type": "application/json",
                        "Cache-Control": "no-cache"
                    },
                    data: {"file": fr.result},
                    url: "api/project/upload",
                    success: function (data) {
                        window.location.replace("/home.html?" + $.param(data));
                    }
                })
            };
        });
    });


    window.onresize = function (event) {
        resizeDiv();
    };

    function resizeDiv() {
        vpw = $(window).width();
        vph = $(window).height() - 100;
        $('#container').css({'height': vph + 'px'});
    }

</script>
</body>
</html>